# Django Settings
SECRET_KEY=django-insecure-!!t7r_3hu(9m7sp6@(f5ie(u-9num2w^+vp--(gu3)pyh(lh1!
DEBUG=False
ALLOWED_HOSTS=*

# Database (Render will automatically provide this)
# DATABASE_URL=postgres://user:password@host:port/dbname
